html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400:700&display=swap" rel="stylesheet")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon" sizes="16x16")
        title #{pageTitle}
body

if session.isLoggedIn
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Bughandler
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li 
            a(href='/report/allApps') Conntected Applications
          li
            a(href='/report/applikation') New Application
          li
            a(href='/report/all') All reports
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a#capitalLetter.dropdown-toggle(data-toggle='dropdown' href='#')
              | #{session.email}
              span.caret
            ul.dropdown-menu
              li
                a(href='/user/logout') Sign out
unless session.isLoggedIn
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Bughandler
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/report/new') Create Bug Report
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a(href='/user/login')
              | LOGIN
div(class="container" style="margin: 50px;")
